
body {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #212529;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  overflow-x: hidden;
}


#chat-container {
  width: 100%;
  height: 95vh;
  overflow-y: auto;
  background-color: #212529; /* Set the background color with transparency */
  border-radius: 0;
  color: #fffefe;
  text-align: center;
  padding-bottom: 10px;
}

#result-container {
  padding: 20px;
  overflow-y: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: calc(100vh - 150px); /* Adjust the height to accommodate the chat form */
  margin-bottom: 80px; /* Ensure space at the bottom for the chat form */
}

.chat-bubble {
  padding: 10px 15px; /* Adjust the padding as desired */
  border-radius: 8px;
  margin: 5px 15px; /* Adjust the margins as desired */
  max-width: 50%; /* Limit the maximum width of the chat bubble */
  word-wrap: break-word; /* Enable word wrapping to prevent overflow */
}


.user-bubble {
  background-color: rgb(216, 177, 34, 1);
  align-self: flex-end;
  margin-left: auto;
  text-align: right;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 10px 15px; /* Adjust the padding as desired */
  border-radius: 8px;
  margin: 5px 200px; /* Adjust the margins as desired */
  max-width: 50%;
  opacity: 0; /* Initially hide the chat bubble */
  transform: translateY(100%); /* Start from bottom (100% down) */
  animation: userBubbleAnimation 0.5s forwards ease-in-out; /* Define the animation */
}

.chat-gpt-bubble {
  background-color: #9c9c9c;
  align-self: flex-start;
  margin-right: auto;
  white-space: pre-line;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 10px 15px; /* Adjust the padding as desired */
  border-radius: 8px;
  margin: 5px 200px; /* Adjust the margins as desired */
  max-width: 50%;
}

#chat-form {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  padding-bottom: 15px;
  border-radius: 10px 10px 0 0;
  z-index: 1000;
  backdrop-filter: blur(10px); /* Apply a blurry effect */
}



#prompt {
  flex-grow: 1;
  padding: 13px 20px; /* Adjust padding as needed */
  margin-right: 10px;
  border: none;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 80%; /* Set the width as needed */
  max-width: 1100px; /* Set a maximum width if required */
  box-sizing: border-box; /* Ensure padding is included in the width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.button-sub {
  padding: 8px; /* Increase button padding for better appearance */
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  margin-right: 20px;
  border: 3px solid;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-sub:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-sub {
      padding: 0.25em 0.75em;
  }
}


/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.header-content {
  margin-top: 250px; /* Adjust as needed */
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 250px; /* Adjust margin top for centering */
  padding-bottom: 50px; /* Add some bottom padding */
}

.header-content h1 {
  font-size: 4rem; /* Set a default large size for the title */
  margin: 0;
  transition: font-size 0.3s ease; /* Enable smooth size transition */
}


#logo-text {
  font-size: 4rem; /* Set a default large size for the title */
  margin: 0;
  background: linear-gradient(45deg, #ffc800, #ffdd00); /* Set gradient colors */
  background-clip: text; /* Clip the text to show the gradient */
  -webkit-background-clip: text; /* For Safari */
  color: transparent; /* Hide the original text color */
  animation: colorChange 5s infinite linear; /* Set the animation */
}

@keyframes colorChange {
  0% {
    filter: hue-rotate(-10deg); /* Start color for the animation */
  }
  100% {
    filter: hue-rotate(10deg); /* End color for the animation */
  }
}

@media (max-width: 767px) {
 .user-bubble{
    margin: 5px 1vh;
 }

 .chat-gpt-bubble{
    margin:5px 1vh;
    max-width: 70%;
 }

 #prompt{
  width: 60%;
 }
}

.suggestion-boxes {
  max-width: 900px;
  margin: 0 auto;
}

.suggestion-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Increased margin between rows */
}

.suggestion {
  flex: 1 0 calc(66% - 20vh); /* Adjusted width with space between boxes */
  max-width: calc(66% - 20vh); /* Adjusted max-width */
  padding: 20px; /* Increased padding for better appearance */
  border: 2px solid #9c9c9c; /* Matched border color with chat GPT bubble */
  border-radius: 8px; /* Matched border radius with chat GPT bubble */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  position: relative;
}

.suggestion:hover {
  background-color: #f0f0f06b;
}

.suggestion-title {
  font-weight: bold;
  text-align: left; /* Align title to the left */
  margin-bottom: 8px; /* Adjust margin for space between title and subtitle */
}

.suggestion-subtitle {
  font-size: 14px;
  opacity: 0.6;
  text-align: left; /* Align subtitle to the left */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .suggestion-row {
    /* Keep the row layout */
    flex-direction: row;
    flex-wrap: wrap; /* Allow suggestions to wrap onto new lines */
    justify-content: space-around; /* Distribute suggestions evenly */
  }

  .suggestion {
    /* Adjusted width and font size for smaller screens */
    flex: 1 0 calc(50% - 10vh);
    max-width: calc(58% - 10vh);
    font-size: 9px; /* Decreased font size for smaller screens */
    margin-bottom: 1px;
  }

  .suggestion-subtitle {
    /* Match subtitle font size with adjusted font size */
    font-size: 7px;
  }
}



@keyframes userBubbleAnimation {
  from {
    opacity: 0;
    transform: translateY(100%); /* Start from bottom */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Move upwards (to 0) */
  }
}

.back-to-home-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001;
}

.button-box {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #33363a; /* Adjust alpha (last value) for transparency */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.button-icon {
  margin-right: 10px;
  width: 25px; /* Adjust the width of the icon */
  height: 25px; /* Adjust the height of the icon */
}


.button-title {
  font-weight: bold;
  font-size: 16px;
  color: white; /* Set text color to white */
}


.new-chat-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
}

.new-chat-button .button-box {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #33363ac9; /* Adjust alpha (last value) for transparency */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.new-chat-button .button-icon {
  margin-right: 10px;
  width: 25px; /* Adjust the width of the icon */
  height: 25px; /* Adjust the height of the icon */
}

.new-chat-button .button-title {
  font-weight: bold;
  font-size: 16px;
  color: white; /* Set text color to white */
}